name: loans_receipt_app
description: "Aplicación de gestión de préstamos"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.1.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  intl: ^0.19.0
  fl_chart: ^0.66.0
  http: ^1.1.0
  excel: ^4.0.3
  share_plus: ^7.2.1
  universal_html: ^2.2.4
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/images/
