<div class="main-content">
  
  <div  class="container-fluid">
    <div  class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <div class="card pt-5">
              <div class="card-header card-header-danger">
                  <h4 class="card-title">
                    <img
                      src="./assets/img/logobank.png"
                      width="70" height="70"
                      alt="..."
                    />
                    Registro</h4>
                  <p class="card-category">Puedes registrarte en este apartado</p>
              </div>
              <div class="card-body">
                  <form [formGroup]="checkoutForm">
                      
                      <div class="row">
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input formControlName="fistName" matInput placeholder="Fist Name" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input formControlName="lastName" matInput placeholder="Last Name" type="text">
                            </mat-form-field>
                          </div>
                      </div>
                      <div class="row"> 
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input formControlName="email"   matInput placeholder="Email address" type="email">
                            </mat-form-field>
                        </div>
                    </div>
                      
                      <div class="row">
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input formControlName="city" matInput placeholder="City" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input formControlName="country" matInput placeholder="Country" type="text">
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input formControlName="postal" matInput placeholder="Postal Code" type="text">
                            </mat-form-field>
                          </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input formControlName="password" matInput placeholder="Contraseña" type="password">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input formControlName="passwordConfir" matInput placeholder="Confirmar Contraseña" type="password">
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="row">
                          <div class="col-md-12">
                            <label>About Me</label>
                            <mat-form-field class="example-full-width">
                                <textarea formControlName="aboutme" matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                              </mat-form-field>
                              <!-- <div class="form-group">

                                  <div class="form-group">
                                      <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                      <textarea class="form-control" rows="5"></textarea>
                                  </div>
                              </div> -->
                          </div>
                      </div>                      
                      <button  mat-raised-button (click)="create()" class="btn btn-danger pull-right">Crear</button>
                      <button  mat-raised-button (click)="cancelReister()" class="btn btn-danger pull-right">Cancelar</button>
                      <div class="clearfix"></div>
                  </form>
              </div>
          </div>
      </div>
      <!--div class="col-md-4">
          <div class="card card-profile">
              <div class="card-avatar">
                  <a href="javascript:void(0)">
                      <img class="img" src="" />
                  </a>
              </div>
              <div class="card-body">
                  <h6 class="card-category text-gray">{{item.fistName}}</h6>
                  <h4 class="card-title">{{item.lastName}}</h4>
                  <p class="card-description">
                    
                  </p-->
                <!-- a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a-->
              <!--/div>
          </div>
      </div-->
    </div>
  </div>
</div>
